body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size
.fa {
	font-size: 14px;
} */
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}

/*
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
*/

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/***********************************************************************************************
************************************************************************************************
NEW CUSTOM CSS MOTHAFUCKA IT'S LIT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
************************************************************************************************
***********************************************************************************************/


@font-face {
font-family: 'Gotham-Book';
src: url('Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('Gotham-Book/Gotham-Book.otf')  format('opentype'),
url('Gotham-Book/Gotham-Book.woff') format('woff'), url('Gotham-Book/Gotham-Book.ttf')  format('truetype'), url('Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'GothamBold';
src: url('Gotham-Bold/GothamBold.eot?#iefix') format('embedded-opentype'),  url('Gotham-Bold/GothamBold.woff') format('woff'), url('Gotham-Bold/GothamBold.ttf')  format('truetype'), url('Gotham-Bold/GothamBold.svg#GothamBold') format('svg');
font-weight: normal;
font-style: normal;
}

body {
margin-top:60px;
}

h1 {
font-family:'GothamBold';
font-size:36px;
font-weight:bold;
color:#58595B;
}

ul {
padding:0;
}

a {
color:#000;
}

a:visited, a:active, a:focus {
border:none;
outline:none;
}

select:active, select:focus {
border:none;
outline:none;
}

button:active, button:focus {
border:none;
outline:none;
}

img:active, img:focus {
border:none;
outline:none;
}

.text-danger {
font-family:'Gotham-Book';
font-size:12px;
color:#ED1C24;
}

header.header-main {
position:fixed;
top:0;
left:0;
right:0;
width:100%;
height:60px;
z-index:10;
background-color:#231F20;
}

header a, header a:visited, header a:active, header a:focus {
text-decoration:none;
}

nav.nav {
height:60px;
}

.nav-main {
display:block;
}

.nav-mobile {
display:none;
}

.nav ul {
margin:0;
}

.nav li {
display:inline;
list-style-type:none;
}

.nav a {
color:#fff;
}

.nav-container {
height:60px;
margin-left:auto;
margin-right:auto;
padding-left:15px;
padding-right:15px;
}

.nav-toggle {
display:none;
height:60px;
vertical-align:top;
}

.nav-toggle button {
height:60px;
margin:0;
padding-left:15px;
padding-right:15px;
border:0;
background:none;
color:#fff;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-toggle button:hover {
background:#fff;
color:#000;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-logo {
display:inline-block;
height:60px;
padding-left:5%;
}

.nav-logo a {
font-family: 'Gotham-Book';
line-height:60px;
font-size:24px;
font-weight:normal;
text-transform:uppercase;
}

.nav-content {
float:right;
height:60px;
}

.nav-main .nav-menu {
display:inline-block;
}

.nav-main .nav-menu {
height:60px;
padding-left:15px;
padding-right:15px;
}

.nav-main .nav-menu li {
line-height:60px;
padding-left:15px;
padding-right:15px;
}

.nav-main .nav-menu a {
line-height:60px;
padding-bottom:15px;
padding-left:15px;
padding-right:15px;
border-bottom:solid 5px transparent;
font-family: 'Gotham-Book';
font-size:18px;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-main .nav-menu a:hover {
border-bottom:solid 5px #fff;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-options {
display:inline-block;
height:60px;
padding-left:15px;
padding-right:15px;
}

.nav-options li {
line-height:60px;
}

.nav-options button {
height:60px;
margin:0;
padding-left:15px;
padding-right:15px;
border:0;
background:none;
color:#fff;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-options button:hover {
background:#fff;
color:#000;
transition: all .25s;
-webkit-transition: all .25s;
}

button.btn-active {
background:#fff;
color:#000;
transition: all .25s;
-webkit-transition: all .25s;
}

.nav-options button.nav-option-btn.search-btn {
font-family: 'Gotham-Book';
font-size: 18px;
}

.nav-options button.nav-option-btn.currency-btn-main,
.nav-options button.nav-option-btn.cart-btn {
font-family: 'Gotham-Book';
font-size: 14px;
}

.header-main .search-menu {
display:none;
position: fixed;
top: 60px;
left: 0;
right: 0;
padding:75px 15px 75px;
text-align:center;
background-color:#fff;
}

.header-main .search-menu .search-title {
display:inline-block;
margin:0;
padding:0 15px 15px;
vertical-align:middle;
}

.header-main .search-menu .search-form {
display:inline-block;
margin:0;
padding:0 15px;
vertical-align:middle;
}

.header-main .search-menu input[name="search"] {
width:300px;
height:60px;
padding: 0 15px;
border: solid 2px #231F20;
font-family:'Gotham-Book';
font-size:18px;
vertical-align:middle;
}

.header-main .search-menu button {
width:150px;
height:60px;
padding:0;
border: solid 2px #231F20;
font-family:'Gotham-Book';
font-size:18px;
background:#231F20;
color:#fff;
vertical-align:middle;
}

.currency-menu-main {
position:fixed;
top:60px;
bottom:0;
right:0;
width:40%;
height:100%;
background-color:#fff;
}

.currency-menu-main ul {
padding:15px 0;
}

.currency-menu-main button {
padding:0 100px 0 0;
text-align:right;
color:#000;
}

.currency-menu-main button:hover {
background:#f0f0f0;
text-decoration:none;
}

#cart {
margin-bottom:0;
}

.cart-menu {
position:fixed;
top:60px;
bottom:0;
right:0;
width:40%;
margin:0;
padding:0;
background-color:#fff;
color:#000;
}

.cart-menu-container {
position: absolute;
top: 30px;
bottom: 30px;
left: 15px;
right: 15px;
}

h1.cart-menu-header {
margin:0;
text-align:center;
}

.cart-menu-top {
position:absolute;
top:0;
bottom:122px;
left:0;
right:0;
padding-left:50px;
padding-right:50px;
overflow-y:auto;
color:#000;
}

.cart-menu-top .table>tbody>tr>td {
padding:15px;
border:none;
}

.cart-menu-top .cart-thumb {
width:40%;
}

.cart-thumb {
width:30%;
}

.cart-thumb img {
padding:0;
border:none;
}

.cart-details {

}

.cart-menu-top a {
color:#000;
}

.cart-menu-top ul {
padding-top:30px;
padding-bottom:30px;
}

.cart-menu-top::-webkit-scrollbar-track {
border-radius:0;
background-color:#fff;
}

.cart-menu-top::-webkit-scrollbar {
width:5px;
}

.cart-menu-top::-webkit-scrollbar-thumb {
border-radius:0;
background-color:#000;
}

.cart-menu-bottom {
position:absolute;
bottom:0;
left:0;
right:0;
padding-top:30px;
border-top:solid 2px #000;
background:#fff;
color:#000;
}

.cart-menu-bottom .cart-total p:nth-child(2) {
display:none;
}

.cart-menu-bottom .cart-total, .cart-menu-bottom  .cart-checkout-btn {
line-height:20px;
}

.cart-menu-bottom  .cart-checkout-btn {
display:inline-block;
width:100%;
padding:10px 16px;
text-align:center;
background:#000;
color:#fff;
text-transform:uppercase;
}

.overlay {
display:none;
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
z-index:5;
background-color:#000;
opacity:0;
}

.breadcrumb{display:none!important;}

.featured-section h1 {
margin:0 0 75px;
text-align:center;
}

.product-thumb {
margin-bottom:30px;
border:none;
}

.product-thumb .image a:hover {
opacity:1;
}

.product-thumb .caption {
padding: 0 15px;
min-height: 1px;
}

.product-thumb h4 {
font-family:'GothamBold';
font-size:14px;
color:#58595B;
}

.product-thumb .description {
display:none;
}

.product-thumb .price {
font-family:'Gotham-Book';
font-size:14px;
color:#58595B;
}

.product-thumb .price-old {
margin-left:0;
font-family:'Gotham-Book';
font-size:14px;
color:#58595B;
}

.product-thumb .price-new {
font-family:'Gotham-Book';
font-size:14px;
color:#ED1C24;
}

.product-thumb .button-group {
display:none;
}

#home-search {
margin-top:50px;
margin-bottom:50px;
text-align:center;
}

#home-search .search-title {
margin-bottom:20px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

#home-search input[name="search"] {
width:300px;
height:60px;
padding:0 15px;
border:solid 2px #231F20;
font-family:'Gotham-Book';
font-size:18px;
vertical-align:middle;
}

#home-search button {
width:150px;
height:60px;
padding:0;
border:solid 2px #231F20;
font-family:'Gotham-Book';
font-size:18px;
background:#231F20;
color:#fff;
vertical-align:middle;
}

.banner-float {
position:fixed;
bottom:0;
left:0;
right:0;
width:100%;
height:40px;
padding:0 15px;
background:#FFDE17;
color:#ED1C24;
z-index:5;
}

.banner-float p {
margin:0;
line-height:40px;
font-weight:bold;
font-size:16px;
color:#ED1C24;
text-align:center;
}

/* CATEGORY PAGE */
.category-page #content h1 {
margin: 60px 0;
text-align:center;
}

.category-page .category-empty p {
margin-bottom:10px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

.category-empty .buttons {
margin: 15px auto;
}

.category-empty .buttons a {
width: 150px;
height: 60px;
padding: 0;
border: solid 2px #231F20;
border-radius:0;
line-height:60px;
font-family: 'Gotham-Book';
font-size: 18px;
background: #231F20;
color: #fff;
text-transform:uppercase;
vertical-align: middle;
}

/* PRODUCT PAGE */
.product-page {
margin-top:100px;
}

.product-content {
padding-left:0;
}

.product-content .content-left {
padding-right:25px;
}

.product-content .content-right {
padding-left:25px;
padding-right:25px;
}

.product-images .product-slideshow .slick-prev:before,
.product-images .product-slideshow .slick-next:before {
content:none;
}

.product-images .product-slideshow .slick-prev {
bottom:0;
left:0;
width:50%;
height:100%;
z-index:2;
}

.product-images .product-slideshow .slick-next {
bottom:0;
right:0;
width:50%;
height:100%;
}

.product-slideshow img {
width:100%;
}

.product-images #sync2 {
/*padding: 0 30px;*/
}

.product-images #sync2 .slick-track {
margin:0 auto;
}

.product-images #sync2 .slick-current {
opacity:.3;
transition: all 300ms ease;
}

.product-images #sync2 img {
max-width:60px;
}

.slide, .slide:focus, .slide:active {
border:none!important;
outline:none!important;
}

.product-info {}

.product-info h1 {
margin-top:0;
margin-bottom:20px;
}

.product-description {
margin-bottom:20px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

.product-description ul {
margin:0;
padding-left:20px;
}

.product-price {
margin-bottom:20px;
}

.product-price ul {
margin:0;
}

.product-price .original-price {
text-decoration: line-through;
}

.product-price .price-item {
font-family:'Gotham-Book';
font-size:18px;
}

.product-price .original-price {
color:#58595B;
}

.product-price .special-price {
color:#ED1C24;
}

.product-options {
margin-bottom:20px;
}

.select-box > div {
position:relative;
width:100%;
max-width:500px;
}

.select-box > div:after {
content:"\f0d7";
font-family:FontAwesome;
font-size:18px;
color:#58595B;
padding:0;
position:absolute;
top:0;
right:20px;
z-index:1;
text-align:center; 
line-height:60px;   
pointer-events:none;
box-sizing:border-box;  
}

.select-box label {
display:inline-block;
width:100px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

.select-box select {
display:inline-block;
width:100%;
max-width:500px;
height:60px;
padding: 0 15px 0 36%;
border: solid 2px #58595B;
border-radius:0;
background-color:#fff;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
appearance:none;
}

.product-options .image-option label,
.product-options .image-option div {
display:inline-block;
}

.product-options .image-option label {
margin-bottom:0;
margin-right:10px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

.product-options .image-option .radio {
display:inline-block;
width:60px;
height:auto;
margin-top:0;
margin-bottom:0;
}

.product-options .image-option .radio label {
padding-left:0;
}

.product-options .image-option .radio input[type=radio] {
display:none;
}

.product-options .image-option .radio img {
padding:5px;
border:solid 1px transparent;
border-radius:0;
}

.product-options .image-option .form-group > .text-danger {
display:block;
}

.product-add {
margin-bottom:20px;
}

.product-amount {
margin-bottom:15px;
font-family: 'Gotham-Book';
font-size: 18px;
color: #58595B;
}

.product-amount label {
margin-bottom:0;
margin-right:10px;
font-family:'Gotham-Book';
font-size:18px;
color:#58595B;
}

.product-amount button, .product-amount input {
display:inline-block;
}

.product-amount button {
display: inline-block;
padding: 0px 10px;
border: none;
background: none;
vertical-align: middle;
line-height: 60px;
}

.product-amount input[type="text"] {
display: inline-block;
width: 60px;
height: 60px;
padding-left:5px;
padding-right:5px;
border: solid 2px #58595B;
border-radius:0;
vertical-align: middle;
font-family:'Gotham-Book';
font-size:18px;
text-align:center;
}

.add2cart-btn {
display: block;
width: 100%;
height:60px;
padding:0;
border:0;
border-radius:0;
font-family:'Gotham-Book';
background:#231F20;
font-size:18px;
color:#fff;
text-transform:uppercase;
}

/* SEARCH RESULTS PAGE */
.result-page #content h1 {
margin: 60px 0;
text-align:center;
}

/* CONTACT PAGE */
.contact-page .contact-content input[type=text],
.contact-page .contact-content textarea {
border: solid 1px #000;
border-radius:0;
}

.contact-page .contact-content .submit-btn {
padding: 10px 16px;
border:none;
text-align: center;
background: #000;
color: #fff;
text-transform: uppercase;
}

/* FOOTER */
footer {
margin-top:50px;
padding-top:60px;
padding-left:45px;
padding-right:45px;
background-color:#F1F2F2;
}

footer h3 {
margin-top:0;
font-family:'GothamBold';
font-size:18px;
color:#231F20;
}

footer li {
margin: 5px 0;
}

footer li a {
font-family:'Gotham-Book';
font-size:18px;
color:#231F20;
}

footer li a:hover {
color:#231F20;
}

footer .footer-social {
text-align:center;
}

footer .footer-social a {
padding: 0 10px;
}

footer .footer-social a i {
color:#231F20;
}

footer .footer-newsletter {
text-align:center;
}

footer .copyright {
margin-top:45px;
font-family:'Gotham-Book';
font-size:14px;
color:#666;
}

footer .copyright a {
font-family:'Gotham-Book';
font-size:14px;
color:#666;
}

/* MEDIA QUERIES */

/* MAX-WIDTH: 1200px */
@media (max-width: 1200px){
.product-grid .product-thumb .caption {
min-height:70px;
}
}

/* MAX-WIDTH: 991px */
@media (max-width:991px){

.nav-menu li {
padding-left:5px;
padding-right:5px;
}

.cart-menu-top {
padding-left:0;
padding-right:0;
}

}

/* MAX-WIDTH: 767px */
@media (max-width:767px){

.nav-main {
display:none;
}

.nav-mobile {
display:block;
}

.nav-container {
padding-left:0;
padding-right:0;
}

.nav-container .nav-logo a {
font-size: 12px;
}

.nav-toggle {
display:inline-block;
}

.nav-mobile .nav-menu {
display:none;
position:fixed;
top:60px;
bottom:0;
left:0;
right:0;
height:100%;
padding:30px 0 0 0;
background:#fff;
}
.nav-mobile .nav-menu li {
display:block;
padding-left:0;
padding-right:0;
text-align:center;
}
.nav-mobile .nav-menu a {
display:block;
padding:0;
border-bottom:none;
line-height:48px;
font-family:'GothamBold';
font-size:24px;
color:#58595B;
}

.nav-mobile .nav-menu a:hover {
background:#F1F2F2;
}

.nav-mobile .currency-btn-mobile {
display: block;
width: 100%;
background: none;
margin-top:30px;
border: none;
padding: 0;
line-height:48px;
font-family:'Gotham-Book';
font-size:14px;
color:#58595B;
text-align: center;
}

.nav-mobile .currency-btn-mobile:hover {
background:#F1F2F2;
}

.nav-mobile .currency-menu-mobile button {
padding:0;
border:none;
line-height:32px;
font-family:'Gotham-Book';
font-size:14px;
color:#58595B;
}

.header-main .search-menu {
padding: 30px 0px;
}

.header-main .search-menu .search-title {
font-size:18px;
line-height:20px;
}

.header-main .search-menu input[name="search"] {
width:250px;
}

.nav-mobile .nav-menu .currency-menu-mobile {
position:relative;
width:100%;
height:auto;
}
.nav-mobile .nav-menu .currency-menu-mobile ul {
padding:0;
}
.cart-menu {
width:100%;
}

.cart-menu-top {
padding-left:50px;
padding-right:50px;
}

#home-search input[name="search"] {
width:250px;
}

.product-content {
padding-left:15px;
padding-right:15px;
}

.product-content .content-left {
padding-left:0;
padding-right:0;
}

.product-content .content-right {
padding-left:15px;
padding-right:15px;
}

#product .select-box:nth-child(1) {
padding-right:0;
}

footer {
padding-top:30px;
padding-left:0;
padding-right:0;
}

footer .footer-col {
margin-top:15px;
margin-bottom:15px;
}

footer .footer-nav {
padding-left:45px;
}

footer .footer-info {
padding-right:45px;
}

footer .copyright {
margin-top:30px;
}

}

/* MAX-WIDTH: 500px */
@media (max-width:500px){

.cart-menu-top {
padding-left:0;
padding-right:0;
}

.product-info {
padding:0;
}

}


